# Lists

Lists can be thought of the most general version of a sequence in Python.

Unlike strings, they are mutable, meaning the elements inside a list can be changed!

Lists are constructed with brackets [] and commas separating every element in the list.

In [12]:
# Assing a list to an variable named my_list

my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [13]:
type(my_list)

list

We just created a list of integers, but lists can actually hold different object types. For example:

In [14]:
my_list = ['A string', 23, 100, 232, 0, 'o', True]

In [15]:
my_list

['A string', 23, 100, 232, 0, 'o', True]

Just like strings, the len() function will tell you how many items are in the sequence of the
list.

In [16]:
len(my_list)

7

# List Indexing

Indexing work just like in strings.

A list index refers to the location of an element in a list.

Remember the indexing begins from 0 in Python.

The first element is assigned an index 0, the second element is assigned an index of 1 and so on
and so forth.

In [6]:
# consider a list of string

Numbers = [ 'one','two','three','foure','five']
print(Numbers)

['one', 'two', 'three', 'foure', 'five']

In [17]:
# Grab the element at index 0, which is the FIRST element

print(Numbers[0])

one

In [8]:
len(Numbers)

5

In [18]:
# Grab the element at index 3, which is the FOURTH element

print(Numbers[3])

foure

In [10]:
print(Numbers[6])

IndexError: list index out of range

In [19]:
# Grab the element at the index -1 , which is the LAST element

print(Numbers[-1])

five

In [20]:
# Grab the element starting from index -3, which is the THIRD LAST element

print(Numbers[-3])

three

# List Slicing

We can use a : to perform slicing which grabs everything up to a designated point.

The starting index is specified on the left of the : and the ending index is specified on the
right of the : .

Remember the element located at the right index is not included.

In reverse direction it starts with -1

In [21]:
# print our list

print(Numbers)

['one', 'two', 'three', 'foure', 'five']

In [22]:
# Grab the element starting from index 1 and everything past it

Numbers[1:4]

['two', 'three', 'foure']

If you do not specify the ending index, then all elements are extracted which comes after the
starting index including the element at that starting index.
The operation knows only to stop when it has run through the entire list

In [23]:
# Grab everything starting from index 2

Numbers[2:]

['three', 'foure', 'five']

If you do not specify the starting index, then all elements are extracted which comes befores
the ending index excluding the element at the specified ending index. The operation knows
only to stop when it has extracted all elements before the element at the ending index.

In [24]:
# Grab everything before the index 4

Numbers[:4]

['one', 'two', 'three', 'foure']

If you do not specify the starting and the ending index, it will extract all elements of the list.

In [25]:
# Grab everything

print (Numbers[:])

['one', 'two', 'three', 'foure', 'five']

We can also extract the last four elements. Remember we can use the index -4 to extract the
FOURTH LAST element

In [26]:
# Grab the LAST FOUR elements of the list

Numbers[-4:]

['two', 'three', 'foure', 'five']

In [27]:
Numbers[:-4]

['one']

In [28]:
Numbers[-10]

IndexError: list index out of range

It should also be noted that list indexing will return an error if there is no element at that index.

In [29]:
len(Numbers)

5

In [30]:
Numbers[8]

IndexError: list index out of range

# List Operations

Remember we said that lists are mutable as opposed to strings. Lets see how can we change
the elements of a list

We can also use + to concatenate lists, just like we did for strings.

In [31]:
print(Numbers)

['one', 'two', 'three', 'foure', 'five']

In [32]:
Numbers + ['six']

['one', 'two', 'three', 'foure', 'five', 'six']

Note: This doesn't actually change the original list!

In [33]:
print(Numbers)

['one', 'two', 'three', 'foure', 'five']

You would have to reassign the list to make the change permanent.

In [34]:
# Reassing

Numbers = Numbers + ['six']

In [35]:
Numbers

['one', 'two', 'three', 'foure', 'five', 'six']

We can also use the * for a duplication method similar to strings

In [37]:
# Make the list double

len(Numbers * 6)

36

# List Functions

len() function returns the length of the list

In [38]:
print(Numbers)

['one', 'two', 'three', 'foure', 'five', 'six']

In [39]:
len(Numbers)

6

min() function returns the minimum element of the list

min() function only works with lists of similar data types

In [40]:
new_list = [6 , 9 , 1 , 3 , 5.5]

In [41]:
min(new_list)

1

In [42]:
my_new_list = ['a' , 'b' , 'z' , 'y' , 'm']

In [43]:
min(my_new_list)

'a'

max() function returns the maximum element of the list

max() function only works with lists of similar data types

In [44]:
new_list = ['Argue' , 'Burgar' , 'Parent' , 'Linear' , 'Shape']

In [45]:
max(new_list)

'Shape'

sum() function returns the sum of the elements of the list

sum() function only works with lists of numeric data types

In [46]:
new_list = [10 , 9 , 1 , 3 , 5.5]

In [47]:
sum(new_list)

28.5

sorted() function returns the sorted list

sorted() function takes reverse boolean as an argument

sorted() function only works on a list with similar data types

In [48]:
new_list

[10, 9, 1, 3, 5.5]

In [49]:
sorted(new_list)

[1, 3, 5.5, 9, 10]

In [50]:
print(new_list)

[10, 9, 1, 3, 5.5]

In [51]:
my_new_list = ['Argue' , 'Burgar' , 'Parent' , 'Linear' , 'Shape']

In [52]:
sorted(my_new_list)

['Argue', 'Burgar', 'Linear', 'Parent', 'Shape']

In [53]:
print(my_new_list)

['Argue', 'Burgar', 'Parent', 'Linear', 'Shape']

In [57]:
sorted(my_new_list, reverse = True)

['Shape', 'Parent', 'Linear', 'Burgar', 'Argue']

In [58]:
sorted(my_new_list)

['Argue', 'Burgar', 'Linear', 'Parent', 'Shape']

sorted() function does not change our list

In [59]:
my_new_list

['Argue', 'Burgar', 'Parent', 'Linear', 'Shape']

# List Methods

If you are familiar with another programming language, you might start to draw parallels
between arrays in another language and lists in Python. Lists in Python however, tend to be
more flexible than arrays in other languages for a two good reasons: they have no fixed size
(meaning we don't have to specify how big a list will be), and they have no fixed type constraint
(like we've seen above). There are following list methods defined.

In [61]:
# Create a new list

new_list = [ 1 , 2 , 3 , 1 , 1 , 1 , 3 , 10 , 5 , 8]

In [62]:
# Print the list
new_list

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8]

In [63]:
len(new_list)

10

In [64]:
type(new_list)

list

append()

Use the append() method to permanently add an item to the end of a list.

append() method takes the element which you want to add to the list as an argument

In [65]:
# Append to the end of the list

new_list.append('Append me!')

In [66]:
print(new_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!']

In [67]:
print(new_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!']

In [68]:
len(new_list)

11

In [69]:
# Show

new_list.append(2.73)

In [70]:
print(new_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73]

We can in fact add a list object to our my_list object

In [71]:
new_list.append([1, 2, 3])

In [72]:
new_list

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73, [1, 2, 3]]

In [73]:
len(new_list)

13

In [76]:
new_list.append([10, [19, 20], 30])

In [77]:
len(new_list)

15

extend()

Use the extend() method to merge a list to an existing list

extend() method takes a list or any iterable(don't worry about it now) as an argument.
                                             
Quite helpful when you have two or more lists and you want to merge them together

In [83]:
# Print the list

print(new_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73, [1, 2, 3], [10, [19, 20], 30], [10, [19, 20], 30], 'interger', 'value', 'copy']

In [84]:
new_list.extend(['interger' , 'value' , 'copy'])

In [85]:
print(new_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73, [1, 2, 3], [10, [19, 20], 30], [10, [19, 20], 30], 'interger', 'value', 'copy', 'interger', 'value', 'copy']

In [86]:
len(new_list)

21

pop()

Use pop() to "pop off" an item from the list.

By default pop() takes off the element at the last index, but you can also specify which index
to pop off.

pop() takes the index as an argument and returns the elenent which was popped off.

In [87]:
# Print the list

print(new_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73, [1, 2, 3], [10, [19, 20], 30], [10, [19, 20], 30], 'interger', 'value', 'copy', 'interger', 'value', 'copy']

In [91]:
# Pop off the 0 index item

new_list.pop()

'copy'

pop() method changes the list by popping off the element at the specified index

In [92]:
# Assign the popped element, remembar default popped index is -1

new_list.pop(-1)

'value'

In [93]:
new_list.pop(-2)

[10, [19, 20], 30]

In [94]:
len(new_list)

15

remove()

Use remove() to remove an item/element from the list.

By default remove() removes the specified element from the list.

remove() takes the element as an argument.

In [95]:
# Print the list

print(new_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73, [1, 2, 3], [10, [19, 20], 30], 'interger']

In [96]:
# Remove the element which you want to

new_list.remove([1, 2, 3])

In [97]:
print(new_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73, [10, [19, 20], 30], 'interger']

In [98]:
new_list.remove(2)

In [99]:
print(new_list)

[1, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73, [10, [19, 20], 30], 'interger']

In [100]:
len(new_list)

13

In [101]:
new_list.clear

count()

The count() method returns the total occurrence of a specified element in the list

In [102]:
print(new_list)

[1, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73, [10, [19, 20], 30], 'interger']

In [103]:
# Count the number of times element 1 occurs in new_list

new_list.count(1)

4

In [104]:
new_list.count('interger')

1

index()

The index() method returns the index of a specified element.

In [105]:
# Index method returns the index of a specified element

print(new_list)

[1, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73, [10, [19, 20], 30], 'interger']

In [106]:
new_list.index('interger')

12

In [110]:
new_list.index(10)

6

sort()

Use sort() to sort the list in either ascending/descending order

The sorting is done in ascending order by default

sort() method takes the reverse boolean as an argument

sort() method only works on a list with elements of same data type

In [111]:
my_list = [6 , 9 , 1 , 3 , 5]

In [112]:
# Use sort to start the list (this is permanent)

my_list.sort()

In [113]:
print(my_list)

[1, 3, 5, 6, 9]

In [114]:
# Use the Reverce boolean to set the ascending or descending order

my_list.sort(reverse = True)
print(my_list)

[9, 6, 5, 3, 1]

In [115]:
boolen_list = [True , False]

In [116]:
boolen_list.sort(reverse = True)

In [117]:
print(boolen_list)

[True, False]

reverse()

reverse() method reverses the list

In [119]:
# Reverse methode reverse the list

my_list = [1 , 1 , 1 , 1 , 1.43 , 2 , 3 , 3 , 5 , 8 , 10 , 'Nitin','Bagade']

In [120]:
print(my_list)

[1, 1, 1, 1, 1.43, 2, 3, 3, 5, 8, 10, 'Nitin', 'Bagade']

In [121]:
my_list.reverse()

In [122]:
print(my_list)

['Bagade', 'Nitin', 10, 8, 5, 3, 3, 2, 1.43, 1, 1, 1, 1]

Nested Lists

A great feature of of Python data structures is that they support nesting. This means we can
have data structures within data structures. For example: A list inside a list.

In [123]:
# Nested List Let's make three lists

list_1 = [1, 2, 3]
list_2 = ['a', 'b', 'c']
list_3 = [4, 5, 6]

In [124]:
# Make a list of lists to from a matrix

list_of_lists = [list_1 , list_2 , list_3]

In [125]:
print(list_of_lists)

[[1, 2, 3], ['a', 'b', 'c'], [4, 5, 6]]

In [126]:
# Show

type(list_of_lists)

list

In [128]:
# Grab first item in matrix object

list_of_lists[1]

['a', 'b', 'c']

In [129]:
list_of_lists[2]

[4, 5, 6]